.sectionSeven{
    width: 100%;
    height: 40vh;
    background-image: url('imgg/sec7bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

      .sec7text{
        width: 40%;
        height: 20vh;
        margin-left: 150px;

          .h6sec7{
              border: 1px solid purple;
              border-radius: 10px;
              width: 120px;
              margin-top: 10px;
              margin-left: 10px;
              display: flex;
              justify-content: center;
              background-color: purple;
              color: white;
              padding: 10px;
              font-weight: 700;
          }

           .h1sec7{
                font-weight: 700;
                font-size: 30px;
                margin-left: 10px;
                margin-top: 10px;
                color: #1f2471;
           }
      }


    .sec7btn{
        width: 30%;
        height: 100px;
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

          .buttonsec7{
                 width: 30%;
                 height: 50px;
                 color: white;
                 background-color: blueviolet;
                 font-weight: 500;
                 font-size: 10px;
                 border: 1px solid blueviolet;
                 border-radius: 100px;
                 
                 &:hover{
                    border-radius: 0px;
    
		            color: #0a0a0a;
		            background-color: #ffe5e5;
		            background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		            animation: animatedBackground 5s linear infinite alternate;
                    @keyframes animatedBackground {
                        from {
                            background-position: 0 0;
                        }
                        to {
                            background-position: 100% 0;
                        }
                    }
	             }
             }


     }
 }
    


